{% extends 'layout.html' %}

{% block title %}
  User Profile - Sell My Notes
{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="card shadow">
        <div class="card-body">
            <h3 class="card-title">User Profile</h3>
            <p class="card-text text-muted">This is some information about the user.</p>
            
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4 text-sm-end">Full name:</dt>
                        <dd class="col-sm-8">{{ current_user.first_name }} {{ current_user.last_name }}</dd>
                        
                        <dt class="col-sm-4 text-sm-end">Email address:</dt>
                        <dd class="col-sm-8">{{ current_user.email }}</dd>
                        
                        <dt class="col-sm-4 text-sm-end">Phone number:</dt>
                        <dd class="col-sm-8">{{ current_user.phone_number }}</dd>
                        
                        <dt class="col-sm-4 text-sm-end">Total earnings (ETB):</dt>
                        <dd class="col-sm-8">{{ current_user.earning }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Log out</a>
        </div>
    </div>
</div>
{% endblock %}
