{% extends 'layout.html' %}

{% block title %}
  Register - Sell My Notes
{% endblock %}

{% block content %}
 <div class="container mt-5">
        <h1>User Login</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <!-- Email Field -->
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(class="form-control", id="email") }}
                {% for error in form.email.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            
            <!-- Password Field -->
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class="form-control", id="password") }}
                {% for error in form.password.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            
            <!-- Remember Me Field -->
            <div class="form-group form-check">
                {{ form.remember_me(class="form-check-input", id="remember_me") }}
                <label class="form-check-label" for="remember_me">Remember Me</label>
            </div>
            
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>



{% endblock %}